@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  /* ### Theme 1 ### */
  /* Backgrounds */

  --very-dark-desaturated-blue-main: hsl(222, 26%, 31%); /* main background */
  --very-dark-desaturated-blue-toggle: hsl(
    223,
    31%,
    20%
  ); /* toggle background, keypad background */
  --very-dark-desaturated-blue-screen: hsl(
    224,
    36%,
    15%
  ); /* screen background */

  /* Keys */

  --desaturated-dark-blue-bg: hsl(225, 21%, 49%); /*key background*/
  --desaturated-dark-blue-shadow: hsl(224, 28%, 35%); /*key shadow*/

  --red: hsl(6, 63%, 50%); /* key background, toggle */
  --dark-red: hsl(6, 70%, 34%); /* key shadow */

  --light-grayish-orange: hsl(30, 25%, 89%); /* key background */
  --grayish-orange: hsl(28, 16%, 65%); /* key shadow */

  /* Text */

  --very-dark-grayish-blue: hsl(221, 14%, 31%);

  /* ### Theme 2 ### */

  /* Backgrounds */

  --light-gray: hsl(0, 0%, 90%); /* main background */
  --grayish-red: hsl(0, 5%, 81%); /* toggle background, keypad background */
  --very-light-gray: hsl(0, 0%, 93%); /* screen background */

  /* Keys */

  --dark-moderate-cyan: hsl(185, 42%, 37%); /* key background */
  --very-dark-cyan: hsl(185, 58%, 25%); /* key shadow */

  --orange: hsl(25, 98%, 40%); /* key background, toggle */
  --dark-orange: hsl(25, 99%, 27%); /* key shadow */

  --light-grayish-yellow: hsl(45, 7%, 89%); /* key background */
  --dark-grayish-orange: hsl(35, 11%, 61%); /* key shadow */

  /* Text */

  --very-dark-grayish-yellow: hsl(60, 10%, 19%);

  /* ### Theme 3 ### */

  /* Backgrounds */

  --very-dark-violet-main: hsl(268, 75%, 9%); /* main background */
  --very-dark-violet-toggle: hsl(
    268,
    71%,
    12%
  ); /* toggle background, keypad background, screen background */

  /* Keys */

  --dark-violet: hsl(281, 89%, 26%); /* key background */
  --vivid-magenta: hsl(285, 91%, 52%); /* key shadow */

  --pure-cyan: hsl(176, 100%, 44%); /* key background, toggle */
  --soft-cyan: hsl(177, 92%, 70%); /* key shadow */

  --very-dark-violet-keyBg: hsl(268, 47%, 21%); /* key background */
  --dark-magenta: hsl(290, 70%, 36%); /* key shadow */

  /* Text */

  --light-yellow: hsl(52, 100%, 62%);
  --very-dark-blue: hsl(198, 20%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 25px auto;
  max-width: 500px;
}

.nav__logo {
  font-size: 36px;
}

.nav__theme-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 150px;
}

.nav__theme-number {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.nav__theme-number p {
  text-align: center;
  min-width: 22px;
  padding: 5px;
  margin: 1px;
}

.nav__theme__choice-theme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 27px;
}

.nav__theme__choice-theme-container p {
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-top: 2px;
}

.nav__theme__choice-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 72px;
  height: 25px;
  border-radius: 25px;
}

.nav__theme__choice-theme__item {
  cursor: pointer;
  padding: 5px;
}

.nav__theme__choice-theme__item div {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.calculator-container {
  margin: 25px auto;
  padding: 2rem;
  max-width: 500px;
}

.calculator__output-container {
  background: var(--very-dark-desaturated-blue-screen);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 10px;
  font-size: 32px;
  min-height: 100px;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 25px;
}

.calculator__output__previous-operand {
  font-size: 24px;

  margin-bottom: 0.6rem;
}

.calculator__grid {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: minmax(5rem, 5rem) repeat(4, 5rem);
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;

  border-radius: 10px;
}

.calculator__grid button {
  font-size: 32px;
  font-family: inherit;
  border-radius: 10px;

  cursor: pointer;

  border: none;
  outline: none;
}

.span-two {
  grid-column: span 2;
}

/* ### THEME 1 ###*/

:root[color-scheme="theme1"] {
  .bg {
    background-color: var(--very-dark-desaturated-blue-main);
  }

  .nav__theme__choice-theme {
    background: var(--very-dark-desaturated-blue-toggle);
  }

  .nav__theme__choice-theme__item:first-child div {
    background: var(--red);
  }

  .nav__theme__choice-theme__item:hover div {
    background: rgb(255, 76, 56);
  }

  .calculator__output-container {
    background: var(--very-dark-desaturated-blue-screen);
  }

  .calculator__output__previous-operand {
    color: rgba(255, 255, 255, 0.5);
  }

  .calculator__grid {
    background: var(--very-dark-desaturated-blue-toggle);
  }

  .calculator__grid button {
    background: var(--light-grayish-orange);
    box-shadow: inset 0 -4px var(--grayish-orange);
  }

  .calculator__grid button:hover,
  .calculator__grid button:focus {
    background: white;
  }

  .btn-del {
    background: var(--desaturated-dark-blue-bg) !important;
    box-shadow: inset 0 -4px var(--desaturated-dark-blue-shadow) !important;
    color: white;
  }

  .btn-del:hover,
  .btn-del:focus {
    background: rgb(158, 182, 254) !important;
  }

  .btn-equal {
    background: var(--red) !important;
    box-shadow: inset 0 -4px var(--dark-red) !important;
    color: white;
  }
  .btn-equal:hover,
  .btn-equal:focus {
    background: rgb(255, 134, 121) !important;
  }
}

/*### THEME 2 ###*/

:root[color-scheme="theme2"] {
  .bg {
    background: var(--light-gray);
    color: black;
  }

  .nav__theme__choice-theme {
    background: var(--grayish-red);
  }

  .nav__theme__choice-theme__item:nth-child(2) div {
    background: var(--orange);
  }

  .nav__theme__choice-theme__item:hover div {
    background: rgb(255, 134, 121);
  }

  .calculator__output-container {
    background: var(--very-light-gray);
  }

  .calculator__output__previous-operand {
    color: rgba(0, 0, 0, 0.5);
  }

  .calculator__grid {
    background: var(--grayish-red);
  }

  .calculator__grid button {
    background: var(--light-grayish-yellow);
    box-shadow: inset 0 -4px var(--dark-grayish-orange);
  }

  .calculator__grid button:hover,
  .calculator__grid button:focus {
    background: white;
  }

  .btn-del {
    background: var(--dark-moderate-cyan) !important;
    box-shadow: inset 0 -4px var(--very-dark-cyan) !important;
    color: white;
  }

  .btn-del:hover,
  .btn-del:focus {
    background: hsl(185, 67%, 59%) !important;
  }

  .btn-equal {
    background: var(--orange) !important;
    box-shadow: inset 0 -4px var(--dark-orange) !important;
    color: white;
  }

  .btn-equal:hover,
  .btn-equal:focus {
    background: hsl(25, 100%, 62%) !important;
  }
}

/*### THEME 3 ###*/

:root[color-scheme="theme3"] {
  .bg {
    background: var(--very-dark-violet-main);
    color: var(--light-yellow);
  }

  .nav__theme__choice-theme {
    background: var(--very-dark-violet-toggle);
  }

  .nav__theme__choice-theme__item:nth-child(3) div {
    background: var(--pure-cyan);
  }

  .nav__theme__choice-theme__item:hover div {
    background: var(--soft-cyan);
  }

  .calculator__output-container {
    background: var(--very-dark-violet-toggle);
  }

  .calculator__output__previous-operand {
    color: rgba(255, 229, 61, 0.7);
  }

  .calculator__grid {
    background: var(--very-dark-violet-toggle);
  }

  .calculator__grid button {
    background: var(--very-dark-violet-keyBg);
    box-shadow: inset 0 -4px var(--dark-magenta);
    color: var(--light-yellow);
  }

  .calculator__grid button:hover,
  .calculator__grid button:focus {
    background: rgb(145, 41, 193);
  }

  .btn-del {
    background: var(--dark-violet) !important;
    box-shadow: inset 0 -4px var(--vivid-magenta) !important;
    color: white !important;
  }

  .btn-del:hover,
  .btn-del:focus {
    background: hsl(285, 100%, 62%) !important;
  }

  .btn-equal {
    background: var(--pure-cyan) !important;
    box-shadow: inset 0 -4px var(--soft-cyan) !important;
    color: var(--very-dark-blue) !important;
  }

  .btn-equal:hover,
  .btn-equal:focus {
    background: hsl(176, 100%, 63%) !important;
  }
}

/* ### MEDIA QUERY*/
@media (max-width: 440px) {
  .calculator__grid {
    grid-template-columns: repeat(4, 3rem);
    grid-template-rows: minmax(3rem, 3rem) repeat(4, 3rem);
  }

  .calculator__grid button {
    font-size: 24px;
  }
}
