@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*TEXT*/

  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /*BACKGROUND GRADIENT:*/

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /*DIVIDERS*/

  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

.card {
  position: relative;
  margin: 50px auto;
  width: 1000px;
  background-color: white;
  background-image: url(images/bg-pattern-desktop.svg);
  background-position: -201% 60%;
  background-size: 80%;
  background-repeat: no-repeat;
  box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  align-items: center;
  padding: 50px 0;
}

.container-img {
  overflow: hidden;
  width: 50%;
}

.woman-img {
  transform: translate(-5rem);
}

.box-img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 58%;
  transform: translateX(-49%) translateY(-52%);
}

.faq {
  width: 45%;
}

.faq h1 {
  font-size: 32px;
  margin-bottom: 35px;
  color: var(--very-dark-desaturated-blue);
}

.panel {
  color: var(--very-dark-grayish-blue);
  line-height: 20px;
  width: 85%;
  padding-right: 10px;
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion {
  width: 85%;
  font-family: inherit;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  color: var(--very-dark-grayish-blue);
  text-align: left;
  padding: 5px 0;
}

.accordion::after {
  content: url(images/icon-arrow-down.svg);
  float: right;
}

.accordion:hover {
  color: var(--soft-red);
}

.active {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.active::after {
  content: url(images/icon-arrow-down.svg);
  transform: rotate(180deg);
}

.divider {
  padding: 0.5px;
  border: none;
  background-color: var(--light-grayish-blue);
  margin-bottom: 20px;
  width: 85%;
}
